@font-face {
    font-family: 'Sinhala Normal';
    src: url('UN-Abhaya.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Sinhala Styled';
    src: url('UN-Malithi-4.ttf') format('truetype');
    font-weight: normal;
}
/*@font-face {
    font-family: 'Noto Serif Sinhala';
    src: url('NotoSerifSinhala-Bold.ttf') format('truetype');
    font-weight: bold;
}*/

body {
    font-family: 'Sinhala Normal';
    font-size: 17px;
    margin: 0px;
}
@media screen and (max-width: 500pt) {
    .ss-hide { display: none;  } 
    td.folder,td.downloads,td.date_added { display: none; } /* hide the folders column on small screens */
}
div.top-container { width: 100%; max-width: 800pt; margin: 0pt auto; height: 100%; display: flex; flex-flow: column; align-content: center;}

table { border: 1px solid black; width: 100%; margin: 0.5rem 0rem 0.5rem 0rem; }
#search-results table { border: none; }
thead td { color: brown; padding: 0.3rem; background-color: antiquewhite; }
tbody tr:nth-child(even) {background-color: whitesmoke; }
tbody tr:hover { background-color: antiquewhite; }
td { padding: 0.1rem 0.3rem 0.1rem 0.3rem; word-break: break-word; }
tbody td.folders { color: rgb(151, 151, 151); }
td.downloads,td.size { text-align: right; }
td.size { word-break: normal;}
td.folder a { text-decoration: none; color: darkblue; }

nav.top { font-size: 1.2rem; text-align: center; display: flex; align-items: center;  flex-wrap: wrap; margin: 0.2rem; background-color: whitesmoke; }
.nav-link { padding: 0.5rem 0rem 0.5rem 0.7rem; }
.nav-link:hover {  background-color: white;}
.nav-link a { text-decoration: none; color: brown;}
.nav-link:hover a {  color: blue; }
.nav-link i { padding-right: 0.6rem; font-size: 1.5rem; }

a.entry-name {
    margin: 0.2rem 0.1rem;
    padding: 0.2rem 0.1rem;
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-items: center;
}
a.entry-name:hover { color: blue; }
a.entry-name i { padding: 0 0.6rem 0 0.2rem; font-size: 1.5rem; }
td.name .entry-details { font-size: 0.7rem; color: gray; padding-left: 0.4rem;}

a.button { text-decoration: none; margin: 0.2rem 0.2rem; padding: 0.2rem 0.2rem; display: inline-flex; align-items: center;
    border: 1px solid black; border-radius: 5px; background-color: #c2eab140;}
a.button:hover { background-color: white; }
a.button i { padding: 0 0.4rem 0 0.1rem; }

.file-info { padding: 0.5rem; }
.file-info div { padding: 0.2rem; }
.file-name { font-size: 1.5rem; display: flex; align-items: center; }
.file-name i { font-size: 7rem; padding-right: 1rem; }
.file-details { text-align: justify; color: grey; line-height: 1.3; font-size: 1rem; }
div.download-button { font-size: 1.5rem; padding: 1rem 0rem; font-family: 'Sinhala Styled'; }
div.download-button a.button { padding: 0.5rem; }

.thumbs { display: flex; flex-wrap: wrap; margin: 1rem 0 1rem 0;}
.thumbs img { max-width: 100%; object-fit: contain; margin: 0.5rem; border: 1px solid black; max-height: 750px;}
@media (min-width: 1000px) {
    .thumbs { flex-wrap: nowrap; }
    .thumbs img { width: 50%; height: auto; max-width: 50%;}
}

.share-icon { color: gray; cursor: pointer; padding: 0.2rem;}
.share-icon:hover { color: blue; }
i.share-icon { font-size: 0.8rem; }

#search-content { margin: 1.4rem 0rem; background-color: rgba(105, 192, 167, 0.1); border-radius: 3px; }
#search-status { font-size: 0.85rem; text-align: center; padding: 0.4rem; color: darkred; }

#search-bar-div { display: flex; justify-content: center; flex-flow: row nowrap; align-items: center; }
.search-bar {
    flex: 1 1;
    vertical-align: middle;
    font-family: 'Sinhala Normal';
    font-size: 1.2rem;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    border: 1px solid gray;
    max-width: 350pt;
    min-width: 70pt;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#toast {
    display: none; /* Hidden by default. Visible on click */
    background-color: black; /* Black background color */
    color: white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5pt; /* Rounded borders */
    padding: 5pt 10pt 5pt 10pt; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    transform: translateX(-50%);
    bottom: 30pt; /* 30px from the bottom */
}